* {
    box-sizing: border-box;
    margin: 0;
} 

body {
    padding: 10px;
    background: #f1f1f1;
}


.header {
    background-color: white;
    text-align: center;
    padding: 30px;
  }

  .header h1 {
      font-size: 50px;
  }

  .leftcolumn {
    flex: 3;
    flex-wrap: wrap;
  }

  .rightcolumn {
    flex: 0;
    background-color: white;
    padding-left: 20px;

  }

  .row:after {
      content: "",
      display: table;
      clear: both;
  }

  .fakeimg {
      background-color: grey;
      width: 100%;
      padding: 20px;
  }

  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
