
.article1 {
    text-align: center;
}

.flexCard {
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    float:right;
    
}
.card {
    margin-bottom: 10px;
}

